h1 {
  font-size: 38px;
  margin: 5px;
  color: #646464;
}

h2 {
  margin: 10px 20px;
  padding: 10px;
  text-align: left;
  color: #646464;
}

ul li  {
  font-size: 18px;
}

h3 {
  margin: 10px 20px;
  padding: 10px;
  text-align: left;
  color: #646464;
  font-size: 20px;
  font-weight: bold;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  width: 8%;
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
  padding: 0.6em 0.4em;
  background: #00a69a;
  border: solid 2px #ababab;
  border-radius: 10px;
}

.button a {
  display: block;
  text-decoration: none;
  color:#eeeeee;
  background: #00a69a;
}

.memo_text {
  margin: 10px 20px;
  padding: 10px 10px 60px 10px;
  width: 80%;
  color: #646464;
}

.memo_textarea {
  margin: 10px 20px;
  padding: 10px 10px 60px 10px;
  width: 80%;
  color: #646464;
  background-color: #f4fbfb;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_btn {
  position: relative;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  width: 100px;
  font-weight: bold;
  padding: 0.6em 0.4em;
  margin-right: 40px; 
  background: #00a69a;
  color:#eeeeee;
  font-weight: bold;
  border: solid 2px #ababab;
  border-radius: 10px;
  cursor: pointer;
}

.form_btn a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color:#eeeeee;
  font-weight: bold;
  background: #00a69a;
}

.memo_title, .memo_content {
  background: #f4fbfb;
  border: solid 2px #ababab;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
  width: 80%;
  color: #646464;
}